<div class="row">

  <div class="medium-4 columns">
    asd
  </div>

  <div class="medium-8 columns">
    as
    <ul>
      {{#each products}}
        <li>{{product_code}}</li>
      {{/each}}
    </ul>
  </div>

</div>