= content_for :scripts do
  = javascript_include_tag 'welcomes'

.off-canvas-wrap.application-wrapper.row{data: {'offcanvas' => true}}
  .inner-wrap
    %a.left-off-canvas-toggle.show-for-small-only{href: '#'} Menu
    %aside.left-off-canvas-menu
      %ul
        %li
          %a{href: "#"} Item 1

    #navigation-region
    #option-region

    #main-region
    #after-main-region
    #ending-region