<div class="right-navigation-container row">
  <div class="navigation-wrapper medium-3 columns show-for-medium-up">
    {{partial 'warehouses/navigator'}}
  </div>
  <div class="content medium-9 columns">
    {{outlet}}
  </div>
</div>