@import "compass";
@import "theme_default";
@import "framework_and_overrides";
@import "scaffolds";
@import "font-awesome";
//@import "jquery.ui.all";
@import "libraries/*";

//@mixin tile-wrapper-maker($size) {
//  width: ($tile-size * $size) + ($tile-space * $size);
////  display: inline-flex;
////  flex-direction: column;
////  flex-wrap: wrap;
////  align-content: flex-start;
//  float: left;
//  margin-right: $tile-space;
//}

@mixin tile-wrapper-maker($size) {
  width: ($tile-size * $size) + ($tile-space * $size);
  float: left;
  margin-right: $tile-space;
  margin-bottom: $tile-space;
  position: relative;
}


body {
  background-color: $background-default;
  color: #333;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;

  main {
    height: 100%;
  }
}

.pull-right { float: right; }
.pull-left  { float: left; }

.application-wrapper {
  background-color: #fff;
  height: 100%;
  max-height: 650px;
  min-height: 500px;
  margin-bottom: .25rem;

  //Chỉnh table style cho các elements
  .inner-wrap {
    height: 100%;
    width: 100%;
    display: table;
    & > div {
      display:table-row;
    }

    //Phần chứa METRO
    #main-region {
      height: 100%;
      width: 100%;
      & > div { //container
        height: 100%;
        width: 100%;
        display: table;
        & > div {  //các rows trong container
          display:table-row;
        }

        //Phần chưa content của Top Navigation Layout
        #tnl-content {
          height: 100%;
          & > div { //container
            height: 100%;
            width: 100%;
            display: table;
            & > div { //các rows trong container
              display:table-row;
            }

            #dual-top {
              height: 100%;
            }
          }
        }
      }
    }
  }

  //Chỉnh sửa margin cho metro home!
  .inner-wrap {
    .metro-wrapper { margin-left: $application-padding }
  }

  i { color: #999; }

  .left-off-canvas-menu {
//    margin: -$application-padding-phone 0 -$application-padding-phone -$application-padding-phone;
  }

  .metro {
    margin-right: -$application-padding;

    //Sửa lỗi tile group cuối cùng, sẽ không có right-margin!
    //Chỉ đúng với trường hợp Group này chứa 1 hàng tile mà thôi
    & > div:last-child {
      & > .tile {
        margin-right: 0;
      }
    }

    .tile {
      height: $tile-size;
      width: $tile-size;
      margin-right: $tile-space;
      margin-bottom: $tile-space;
      @include border-radius($tile-radius);
      background-color: #eee;
      float: left;

      &.double {
        width: $tile-size * 2 + $tile-space;
      }

      &.huge {
        width: $tile-size * 2 + $tile-space;
        @media #{$medium-up} { height: $tile-size * 2 + $tile-space; }
      }

      //Tile Colors
      &.orange { background-color: #F37735; }
      &.yellow { background-color: #FFC425; }
      &.blue { background-color: #00AEDB; }
      &.dark-blue { background-color: #374961; }
      &.lime { background-color: #8ACF1A; }
      &.green { background-color: #00B159; }
      &.light-green { background-color: #1CBB9B; }
      &.purple { background-color: #91009B; }
      &.pink { background-color: #D845A0; }
      &.gray { background-color: #97A5A6; }
      &.light-gray { background-color: #BFC2C7; }

// Use gradients
//      &.orange { @include background(linear-gradient(top left, #F37735, darken(#F37735, $darken-amount))); }
//      &.yellow { @include background(linear-gradient(top left, #FFC425, darken(#FFC425, $darken-amount))); }
//      &.blue { @include background(linear-gradient(top left, #00AEDB, darken(#00AEDB, $darken-amount))); }
//      &.dark-blue { @include background(linear-gradient(top left, #374961, darken(#374961, $darken-amount))); }
//      &.lime { @include background(linear-gradient(top left, #8ACF1A, darken(#8ACF1A, $darken-amount))); }
//      &.green { @include background(linear-gradient(top left, #00B159, darken(#00B159, $darken-amount))); }
//      &.light-green { @include background(linear-gradient(top left, #1CBB9B, darken(#1CBB9B, $darken-amount))); }
//      &.purple { @include background(linear-gradient(top left, #91009B, darken(#91009B, $darken-amount))); }
//      &.pink { @include background(linear-gradient(top left, #D845A0, darken(#D845A0, $darken-amount))); }
//      &.gray { @include background(linear-gradient(top left, #97A5A6, darken(#97A5A6, $darken-amount))); }
//      &.light-gray { @include background(linear-gradient(top left, #BFC2C7, darken(#BFC2C7, $darken-amount))); }
    }
  }

  .top-navigation-container {
    border-top: solid 3px darken($navigator-background-reserve, 5%);

    .navigation-wrapper {
      .navigator {
        min-height: $content-min-height;
        list-style: none;
        margin: 0;
        background-color: $navigator-background-reserve;
        color: $navigator-font;

        li {
          padding-left: 0.5rem;
          line-height: 3rem;
          font-style: bold;

          i.fa {
            padding-top: 1rem;
            padding-right: 1rem;
            float: right;
            color: $navigator-font;
          }

          &.active {
            background-color: $navigator-background;
            color: $navigator-font-reserve;

            i.fa {
              color: $navigator-font-reserve;
            }
          }
        }
      }
    }

    .content {
//      background-color: $navigator-background;
//      min-height: $content-min-height;
//      height: $content-min-height;

      ul.tile-container { margin: 0.1rem 0 0 $application-padding; }
      .product-summary-tile {
        display: inline-block;
        height: $tile-size-small;
        width: $tile-size-small * 2;
        @include border-radius($tile-radius);
        background-color: #aaa;

        margin-right: $tile-space;

        list-style: none;
      }

      .imports-wrapper {
        min-height: 100%;
        height: 100%;
      }

      .vsplitbar {
        width: 5px;
        background: #aaa;
      }

      #warehouseNewProductSummaryPane {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

        $product-image-size: 100px;
        .image-wrapper {
          float: left;
          width: $product-image-size;
          height: $product-image-size;
          text-align: center; /* ensures the image is always in the h-middle */
          overflow: hidden; /* hide the cropped portion */
          border: solid 1px $navigator-background-reserve;

          #image {
            position: relative; /* allows repositioning */
            left: 100%; /* move the whole width of the image to the right */
            margin-left: -200%; /* magic! */
          }
        }

        .info-wrapper {
            margin-left: $product-image-size;
        }
      }
    }
  }
}
//Overrides for difference screens

//asdsalkdsaldj
h1, h1, h3, h4, h5, h6 {
  &.light { font-weight: 300; }
  &.bold { font-weight: 600; }
}

@media #{$small-only} {
  .tile-wrapper-1, .tile-wrapper-2, .tile-wrapper-3, .tile-wrapper-4, .tile-wrapper-5 {
    @include tile-wrapper-maker(2);
  }

  .tile-wrapper-small-2{ @include tile-wrapper-maker(2) }
  .tile-wrapper-small-3{ @include tile-wrapper-maker(3) }
  .tile-wrapper-small-4{ @include tile-wrapper-maker(4) }
  .tile-wrapper-small-5{ @include tile-wrapper-maker(5) }
}

@media #{$medium-up} {
  .tile-wrapper-2{ @include tile-wrapper-maker(2) }
  .tile-wrapper-3{ @include tile-wrapper-maker(3) }
  .tile-wrapper-4{ @include tile-wrapper-maker(4) }
  .tile-wrapper-5{ @include tile-wrapper-maker(5) }
}

@media #{$medium-only} {
  body { background-color: #fff; }
  .application-wrapper {
    height: 100%;
    max-width: none;
  }
}

@media #{$large-up} {
  .application-wrapper {
    margin-top: 1rem;
    @include border-radius(0.25rem);
    @include box-shadow(#aaa 0 0 0.3rem);

    .left-off-canvas-menu {
      margin: -$application-padding 0 -$application-padding -$application-padding;
    }

    .right-navigation-container {
      margin-bottom: -$application-padding;

      .navigator { @include  border-bottom-left-radius(0.25rem) }
      .content { @include  border-bottom-right-radius(0.25rem) }
    }
  }
}