@import "compass";
@import "theme_default";
@import "framework_and_overrides";
@import "scaffolds";
@import "font-awesome";
//@import "jquery.ui.all";
@import "libraries/*";
@import "metro_components";

//@mixin tile-wrapper-maker($size) {
//  width: ($tile-size * $size) + ($tile-space * $size);
////  display: inline-flex;
////  flex-direction: column;
////  flex-wrap: wrap;
////  align-content: flex-start;
//  float: left;
//  margin-right: $tile-space;
//}

@mixin tile-wrapper-maker($size) {
  width: ($tile-size * $size) + ($tile-space * $size);
  float: left;
  margin-right: $tile-group-space;
  margin-bottom: $tile-space;
  position: relative;
}

@mixin tile-gradient-background($color) {
//  @include background(linear-gradient(top left, $color, darken($color, $darken-amount)));
  background-color: $color;
  &:hover {
    background-color: lighten($color, 5);
  }
}

body {
  background-color: $background-default;
  background-image: linear-gradient(90deg, #252525 1px, transparent 1px), linear-gradient(#252525 1px, transparent 1px);
  background-size: 10px 10px;
  background-clip: border-box border-box;
  background-attachment: scroll scroll;
  background-repeat: repeat repeat;
  background-position: 0 0% 0 0;
  color: #333;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;

  main {
    height: 100%;
  }
}

.pull-right { float: right; }
.pull-left  { float: left; }

.application-wrapper {
  min-height: 550px;
  margin-bottom: .25rem;
  margin-top: 45px;

  //Chỉnh table style cho các elements
  .inner-wrap {
    height: 100%;
    width: 100%;
    display: table;
    & > div {
      display:table-row;
    }

    //Phần chứa METRO
    #main-region {
      height: 100%;
      width: 100%;
      & > div.row { //container
        height: 100%;
        width: 100%;
        display: table;
        & > div {  //các rows trong container
          display:table-row;
        }

        //Phần chưa content của Top Navigation Layout
        #tnl-content {
          height: 100%;
          & > div.row { //container
            height: 100%;
            width: 100%;
            display: table;
            & > div { //các rows trong container
              display:table-row;
            }

            #dual-top {
              height: 100%;
              min-height: 400px;
            }
          }
        }
      }
    }

    .copyright.row {
      padding-bottom: 0.2rem;
      padding-left: 0.3rem;
      color: #ddd;
    }
  }

  //Navigation con của ChildApps
  .top-navigation-container {
    ul.inner-navigation {
      margin: 0;
      border-bottom: solid 2px $navigator-background;
      background-color: #fff;
      > li {
        padding: 0.2rem 0.5rem;
        line-height: 2rem;
        display: inline-block;
        font-size: 150%;
        background-color: #eee;
        /*Right side of the selection should have splash*/
        &:last-child { /*last item disable that splash*/  }

        &.current {
          border-bottom: solid 4px $navigator-background;
        }
      }
    }
  }

  #navigation-region {
    .application-navigation-wrapper {
      background-color: #333;
      .top-bar {
        max-width: 62.5rem;
        margin: 0 auto;
        background-color: $navigation-color;
        ul {
          background: none;
        }
        span.nav-button {
          cursor: pointer;
          line-height: 45px;
          max-height: 45px;
          padding: 0 15px;
          display: block;
          color: #fff;
          &.home {
            padding-left: 5px;
          }

          &:hover {
            background-color: $navigation-color-bright;
          }
        }

        i {
          color: #fff;
        }
      }
    }
    span.app-name {
      margin: 10px;
      position: absolute;
    }
  }

  i { color: #999; }

  .left-off-canvas-menu {
//    margin: -$application-padding-phone 0 -$application-padding-phone -$application-padding-phone;
  }
  //Size, color, layout of metro UI.
  .metro {
    margin-top: $tile-space !important;
    margin-right: -$application-padding;

    //Sửa lỗi tile group cuối cùng, sẽ không có right-margin!
    //Chỉ đúng với trường hợp Group này chứa 1 hàng tile mà thôi
    & > div:last-child {
      & > .tile {
        margin-right: 0;
      }
    }

    .tile {
      height: $tile-size;
      width: $tile-size;
      margin-right: $tile-space;
      margin-bottom: $tile-space;
      background-color: #eee;
      color: #fff;
      float: left;
      position: relative;
      box-shadow: 0px 0px 1px #FFC inset;
      cursor: pointer;

      &.double {
        width: $tile-size * 2 + $tile-space;
      }

      &.huge {
        width: $tile-size * 2 + $tile-space;
        @media #{$medium-up} { height: $tile-size * 2 + $tile-space; }
      }

      h1, h2, h3, h4, h5, h6, h7, h8, i {
        color: #fff;
        margin: 0;
        tiny { font-size: 30%; }
        tiny4 { font-size: 40%; }
        tiny5 { font-size: 50%; }
        tiny6 { font-size: 60%; }
        tiny7 { font-size: 70%; }
      }

      &.orange { @include tile-gradient-background($orange); }
      &.yellow { @include tile-gradient-background($yellow); }
      &.blue { @include tile-gradient-background($blue); }
      &.dark-blue { @include tile-gradient-background($dark-blue); }
      &.lime { @include tile-gradient-background($lime); }
      &.green { @include tile-gradient-background($green); }
      &.light-green { @include tile-gradient-background($light-green); }
      &.purple { @include tile-gradient-background($purple); }
      &.pink { @include tile-gradient-background($pink); }
      &.red { @include tile-gradient-background($red); }
      &.dark { @include tile-gradient-background($dark); }
      &.gray { @include tile-gradient-background($gray); }
    }
  }

  //Caption of tiles 9 places!
  .metro .tile {
    .caption {
      margin: auto;
      position: absolute;
      width: 100%;
    }
    .top {
      top: 0;
//      width: 30%;
      margin-top: $tile-caption-padding;
    }
    .center {
     bottom: 0;
     height: 100%;
     margin: 35% 0 0 0%;
     display: table;
    }
    //Thuộc tính kèm theo của center
    .table{
     display: table-cell;
     vertical-align: middle;

    }

    .bottom {
      bottom: 0;
      height: auto;
      margin-bottom: $tile-caption-padding !important;
    }

    .left {
      text-align: left;
      margin-left: $tile-caption-padding;
    }
    .middle {
      left: 0;
      right: 0;
      text-align: center;

    }
    .right {
      left: auto;
      right:$tile-caption-padding !important;
      text-align: right;
    }
  }

  .top-navigation-container {
    border-top: solid 3px darken($navigator-background-reserve, 5%);
    background-color: #fff;
    .navigation-wrapper {
      .navigator {
        min-height: $content-min-height;
        list-style: none;
        margin: 0;
        background-color: $navigator-background-reserve;
        color: $navigator-font;

        li {
          padding-left: 0.5rem;
          line-height: 3rem;
          font-style: bold;

          i.fa {
            padding-top: 1rem;
            padding-right: 1rem;
            float: right;
            color: $navigator-font;
          }

          &.active {
            background-color: $navigator-background;
            color: $navigator-font-reserve;

            i.fa {
              color: $navigator-font-reserve;
            }
          }
        }
      }
    }

    .content {
//      background-color: $navigator-background;
//      min-height: $content-min-height;
//      height: $content-min-height;

      ul.tile-container {
        margin: 0.1rem (-$tile-space) 0.1rem 0;

        .item-tile {
          display: inline-block;
          width: 12.25rem;
          margin-right: $tile-space;
          position: relative;
          list-style: none;
          p { margin: 0; }

          .item-head{
            overflow: hidden;
            &:hover .effect-hover-img {
              transform: scale(1.1, 1.1)
            }
          }

          .item-body {
            margin: 0 auto 10px 0;
            .avatar-picture {
              margin: -20px auto 0 auto;
              position: relative;
              width: 95%;

              .right {
                margin-top: 20px;
                height: 40px;
                text-align: right;
              }

              img {
                background-color: #E5E9EC;
                border: 5px solid #FFFFFF;
                border-radius: 100px;
                display: inline-block;
                height: 68px;
                overflow: hidden;
                width: 68px;
              }

              .up {
                margin-top: 35px;
                margin-left: -10px;
                position: absolute;
              }
            }

            .info-wrapper {
              width: 95%;
              margin: 0 auto;
              text-align: center;
              .title {
                font-weight: bold;
              }
            }
          }

          .item-footer {
            .info-wrapper {
              width: 97%;
              margin: 0 auto;
            }
          }

          .controller {
            position: absolute;
            z-index: 200;
            display: block;
            top: 20px;
            &.right { right: 20px; }
            &.left { left: 20px; }
          }
        }
      }

      .imports-wrapper {
        min-height: 100%;
        height: 100%;
      }

      .vsplitbar {
        width: 5px;
        background: #aaa;
      }

      #warehouseNewProductSummaryPane {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

        $product-image-size: 100px;
        .image-wrapper {
          float: left;
          width: $product-image-size;
          height: $product-image-size;
          text-align: center; /* ensures the image is always in the h-middle */
          overflow: hidden; /* hide the cropped portion */
          border: solid 1px $navigator-background-reserve;

          #image {
            position: relative; /* allows repositioning */
            left: 100%; /* move the whole width of the image to the right */
            margin-left: -200%; /* magic! */
          }
        }

        .info-wrapper {
            margin-left: $product-image-size;
        }
      }
    }
  }

  #entity-editor {
    input {
      display: inline-block;
    }
  }
  //PAGE SECTIONS ---------------------------------------------->
  .import-product-summary-wrapper {
    #sky-editor {width: 250px;}
    #import-quality { width: 90px; }
    #import-price { width: 180px}
  }
}
//Overrides for difference screens

//asdsalkdsaldj
h1, h1, h3, h4, h5, h6 {
  &.light { font-weight: 300; }
  &.bold { font-weight: 600; }
}

@media #{$small-only} {
  .tile-wrapper-1, .tile-wrapper-2, .tile-wrapper-3, .tile-wrapper-4, .tile-wrapper-5 {
    @include tile-wrapper-maker(2);
  }

  .tile-wrapper-small-2{ @include tile-wrapper-maker(2) }
  .tile-wrapper-small-3{ @include tile-wrapper-maker(3) }
  .tile-wrapper-small-4{ @include tile-wrapper-maker(4) }
  .tile-wrapper-small-5{ @include tile-wrapper-maker(5) }
}

@media #{$medium-up} {
  .tile-wrapper-2{ @include tile-wrapper-maker(2) }
  .tile-wrapper-3{ @include tile-wrapper-maker(3) }
  .tile-wrapper-4{ @include tile-wrapper-maker(4) }
  .tile-wrapper-5{ @include tile-wrapper-maker(5) }
}

@media #{$medium-only} {
  body {background-color: #fff;}
  .application-wrapper {
    height: 100%;
    max-width: none;
  }
}

@media #{$large-up} {
  .application-wrapper {
    .left-off-canvas-menu {
      margin: -$application-padding 0 -$application-padding -$application-padding;
    }
    .right-navigation-container {
      margin-bottom: -$application-padding;

      .navigator { @include  border-bottom-left-radius(0.25rem) }
      .content { @include  border-bottom-right-radius(0.25rem) }
    }
  }
}