//Fonts
$font-main: 'Open Sans',sans-serif;

//Colors
$tone-main: #AEC785;
$tone-dark: #A0B87E;
$element-main: #1FB5AC;
$background-default: #e5e5e5;
$background-login: #32323A;

//Sizes
$application-padding: 1rem;
$application-padding-phone: 0.2rem;
$tile-size: 8.2rem;
$tile-space: 0.4rem;

//Radiuses
$tile-radius: 0.15rem;
$tile-radius-phone: 0.1rem;
